#title-container{
    background-color: aqua;
    text-align: center;
    margin:1em;
    outline: 10px solid black;
}

#menu-container{
    background-color: blanchedalmond;
    display: inline-block;
    margin:1em;
    outline: 10px solid black;
}

#canvas-container{
    margin: 0em;
    min-height: 10em;
    min-width: 20em;
    
}

.slide-container {
    width: 100%; /* Width of the outside container */
    
}
.slide-container h3{
    margin-bottom: 0em;
}
  